<div>
    <img src="../src/assets/Imagenes/fondo2.jpg" width="200" alt="">
  </div>
  <form class ="formulario">
    <h1>PORTAL DE RECLUTAMIENTO</h1>
  <div class="contenedor">
       <div class="input-contenedor">
    <input type="text" placeholder="Correo Electronico">
    
    </div>
    <div class="input-contenedor">
    <input type="password" placeholder="Contraseña">
    
    </div>
    <input type="submit" value="Login" class="button">
    <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
    <p>¿No tienes una cuenta?&nbsp;<button type="button" class="btn btn-primary" (click)="clickAddTodo()">REGISTRATE</button> </p>
  </div>
  </form>

  <ng-template #pruebass let-modal>
    <div class="modal-header">
        <h3>Prueba</h3>
    </div>

    <div class="modal-body">
            
    </div>

    <div class="modal-footer"></div>
</ng-template>
  