<h1>Pre-Registro</h1>
<div class="modal-header">
    <h3>Ingresa tus datos</h3>
</div>
<div class="modal-body" style="text-align: center;">
    <form action="#">

        <input type="text" class="form form-control" id="myid" placeholder="Nombre"><br>
        <input type="text" class="form form-control" placeholder="Apellidos"><br>
        <input type="email" class="form form-control" placeholder="Correo electronico" required><br>
        <input type="password" class="form form-control" placeholder="Password" required><br>
        <input type="password" class="form form-control" placeholder="Confirma Password" required><br>
        <br>
        <button class="btn btn-success">Enviar</button>

    </form>
</div>
<div class="modal-footer">
</div>
